Codes/NODE-FLOW/flows (2).json
[{"id":"a95c2aee.c8c108","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dad8d977.e3a888","type":"mqtt in","z":"a95c2aee.c8c108","name":"","topic":"productinfo","qos":"2","datatype":"auto","broker":"e16254f0.4a6c88","x":350,"y":360,"wires":[["7e6f3341.ef898c"]]},{"id":"7e6f3341.ef898c","type":"json","z":"a95c2aee.c8c108","name":"","property":"payload","action":"","pretty":false,"x":550,"y":320,"wires":[["9b721ea5.a8731","a149b82d.e84698","b358579c.953938","95484e29.3ecd1","93d4f513.4e4d38","3083205a.44752"]]},{"id":"9b721ea5.a8731","type":"function","z":"a95c2aee.c8c108","name":"","func":"msg.payload=msg.payload['Name'];\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":180,"wires":[["733f8b57.fa9964"]]},{"id":"a149b82d.e84698","type":"function","z":"a95c2aee.c8c108","name":"","func":"msg.payload=msg.payload['UnitWeight'];\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":220,"wires":[["bc5cbe8d.63777"]]},{"id":"b358579c.953938","type":"function","z":"a95c2aee.c8c108","name":"","func":"msg.payload=msg.payload['TotalWeight'];\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":260,"wires":[["34759c2.4fd3464"]]},{"id":"95484e29.3ecd1","type":"function","z":"a95c2aee.c8c108","name":"","func":"msg.payload=msg.payload['Quantity'];\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":300,"wires":[["2204c725.e8d108"]]},{"id":"93d4f513.4e4d38","type":"function","z":"a95c2aee.c8c108","name":"","func":"msg.payload=msg.payload['Humidity'];\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["daf6b7ef.6b6528"]]},{"id":"3083205a.44752","type":"function","z":"a95c2aee.c8c108","name":"","func":"msg.payload=msg.payload['Temperature'];\nreturn msg;","outputs":1,"noerr":0,"x":722,"y":393.9999990463257,"wires":[["6c3c8491.7f3bcc"]]},{"id":"2204c725.e8d108","type":"ui_gauge","z":"a95c2aee.c8c108","name":"","group":"17699913.3463d7","order":1,"width":4,"height":4,"gtype":"wave","title":"","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1121.3984336853027,"y":294.7656764984131,"wires":[]},{"id":"733f8b57.fa9964","type":"ui_text","z":"a95c2aee.c8c108","group":"4fdc02bd.db861c","order":1,"width":0,"height":0,"name":"","label":"Product Name","format":"{{msg.payload}}","layout":"row-spread","x":1072.398422241211,"y":102.78906536102295,"wires":[]},{"id":"bc5cbe8d.63777","type":"ui_text","z":"a95c2aee.c8c108","group":"279a421e.f6d8ae","order":1,"width":0,"height":0,"name":"","label":"Unit Weight in gms","format":"{{msg.payload}}","layout":"row-spread","x":1111.0195579528809,"y":194.00390529632568,"wires":[]},{"id":"34759c2.4fd3464","type":"ui_text","z":"a95c2aee.c8c108","group":"279a421e.f6d8ae","order":2,"width":0,"height":0,"name":"","label":"Overal Weight in grams","format":"{{msg.payload}}","layout":"row-spread","x":1132.398422241211,"y":241.78127193450928,"wires":[]},{"id":"daf6b7ef.6b6528","type":"ui_gauge","z":"a95c2aee.c8c108","name":"","group":"e3335adb.7bef88","order":1,"width":0,"height":0,"gtype":"compass","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130.3945579528809,"y":341.7695827484131,"wires":[]},{"id":"6c3c8491.7f3bcc","type":"ui_gauge","z":"a95c2aee.c8c108","name":"","group":"e3335adb.7bef88","order":2,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1149.0195770263672,"y":388.00390434265137,"wires":[]},{"id":"e16254f0.4a6c88","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"17699913.3463d7","type":"ui_group","z":"","name":"Quanity","tab":"fc6f74c1.8c55b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4fdc02bd.db861c","type":"ui_group","z":"","name":"Product Info","tab":"fc6f74c1.8c55b8","order":2,"disp":true,"width":8,"collapse":false},{"id":"279a421e.f6d8ae","type":"ui_group","z":"","name":"Product Weight","tab":"fc6f74c1.8c55b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"e3335adb.7bef88","type":"ui_group","z":"","name":"Weather","tab":"fc6f74c1.8c55b8","order":4,"disp":true,"width":"6","collapse":false},{"id":"fc6f74c1.8c55b8","type":"ui_tab","z":"","name":"Smart_Inventory_Management","icon":"dashboard","disabled":false,"hidden":false}]